@font-face{
    font-family: "Montserrat-regular";
    src: url("Assets/fonts/woff_woff2/Montserrat-Regular.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Montserrat-semibold";
    src: url("Assets/fonts/woff_woff2/Montserrat-SemiBold.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-SemiBold.woff2") format('woff2');
}
@font-face{
    font-family: "Montserrat-medium";
    src: url("Assets/fonts/woff_woff2/Montserrat-Medium.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-Medium.woff2") format('woff2');
}

body{
    margin: 0;
    font-family: 'Montserrat-regular';
   
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}

div.header{
    display: flex;
    padding: 20px 120px ;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color:#FFFFFFCC;
    
}
div.section_wrapper{
    padding: 0px 120px 25px 120px;
    font-family: 'Montserrat-regular';
    position: relative;
}

div.logo_searchbar{
    display: flex;
    gap:55px;
    align-items: center;
    width: 50%;
}
div.logo_searchbar > h1{
    margin: 0px;
    width: 40px;
}
div.search{
    border: solid 1px #f4e7e7;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    background-color: white;
}
div.search > span{
    display: inline-block;
    width: 25px;
}
div.search > input{
    background-color: inherit;
    border: none;
    font-size: 13pt;
    padding: 0px;
    margin-left: 10px;
    width: inherit;
    
}
div.search > input:focus{
    outline: none;
}

div.links{
    display: flex;
    gap: 25px;
}
div.links > div{
    display: inline-flex;
    font-size: 12pt;
    color: #7B7B75;
    cursor: pointer;
    gap: 10px;
}
div.links > div > span{
    width: 20px;
}

div.addressbox{
    border: solid 1px #f4e7e7;
    display: flex;
    padding: 20px 15px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
    font-size: 11pt;
    color: #B0B0AD;
    justify-content: space-between;
}
div.products{
    
    width: 65%;
}
div.productcontainer{
    display: flex;
    gap: 20px;
    padding: 25px;
    border-radius: 15px;
    border: solid 1px #EDEDED;
}
div.imageandcount{
    display: flex;
    flex-direction: column;
    width: 25%;
}
#itemcount{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
#itemcount > div{
    border: solid 1px #f4e7e7;
    text-align: center;  
    color:#7B7B75;
    padding: 10px 15px;
    border-radius: 10px;
    
}
div.product_description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}
div.buttons{
    display: flex;
    gap: 2px;
}
div.buttons > div{
    width: 49%;
    border: solid 1px #f4e7e7;
    text-align: center;  
    border-radius: 10px;
    padding: 10px 15px;
}

div.productandprice{
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

div.price{
    padding: 25px;
    
    border-radius: 15px;
    background-color: #FBFBFB;
    
}
div.pricedetails > div{
    display: flex;
    justify-content: space-between;
    color: #7B7B75;
    font-size: 11pt;
}
div.pricedetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
span.cost{
    font-family:  'Montserrat-medium'; 
    color: #41413F;
}

button.placeorder{
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    background-color: #FFD700;
    color: #4C4C4C;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 16pt;
    font-family: 'Montserrat-medium';
}

div.dropdown{
    position: fixed;
    top: 100px;
    right: 120px;
    background-color: #FCFCFC;
    border-radius: 15px;
    width: 15%;
    padding: 20px;
    
}

a.dropdown_content{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px #EDEDED;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    color: #7B7B75;
    font-size: 11pt;
}
a.dropdown_content:hover{
    background-color: #e3e3dc;
}
span.dropdown_icons{
    width: 20px;
    margin-right: 10px;
}

#dropdownwrapper{
    position: fixed;
    left: 0;
    z-index: 5; 
    background-color: #0000001A; 
    width: 100%; 
    height: 100%;
    display: none;
}