@font-face{
    font-family: "Montserrat-regular";
    src: url("Assets/fonts/woff_woff2/Montserrat-Regular.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Montserrat-semibold";
    src: url("Assets/fonts/woff_woff2/Montserrat-SemiBold.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-SemiBold.woff2") format('woff2');
}
@font-face{
    font-family: "Montserrat-medium";
    src: url("Assets/fonts/woff_woff2/Montserrat-Medium.woff") format('woff'),
    url("Assets/fonts/woff_woff2/Montserrat-Medium.woff2") format('woff2');
}

body{
    margin: 0;
    font-family: 'Montserrat-regular';
   
}
img{
    display: block;
    width: 100%;
}

div.section_wrapper{
    padding: 0px 10% 25px 10%;
    font-family: 'Montserrat-regular';
    
}

div.header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color:#FFFFFFCC;
    
}

div.logo_searchbar{
    display: flex;
    gap:5%;
    align-items: center;

}
div.logo_searchbar > h1{
    margin: 0px;
    width: 40px;
}
div.search{
    border: solid 1px #f4e7e7;
    display: flex;
    padding: 2%;
    border-radius: 10px;
    width: 70%;
    background-color: white;
}
div.search > span{
    display: inline-block;
    width: 25px;
}
div.search > input{
    background-color: inherit;
    border: none;
    font-size: 13pt;
    padding: 0px;
    margin-left: 10px;
    width: inherit;
    
}
div.search > input:focus{
    outline: none;
}

div.links{

    gap: 70px;
}

div.links > a{
    display: inline-flex;
    font-size: 12pt;
    color: #7B7B75;
    cursor: pointer;
    text-decoration: none;
}
div.links > a > span{
    margin-right: 5px;
    width: 20px;
}

.slider{
    position: relative;
    height: fit-content;
    margin-top: 45px;
}
.sliderarrowleft{
    width: 4%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top:45%;
    left:2%;
    cursor: pointer;
}
.sliderarrowright{
    width: 4%;
    display: inline-block;
    position: absolute;
    right: 2%;
    bottom: 45%;
    cursor: pointer;
}
div.slick-list, div.draggable{
    border-radius: 2vw;
}
div.slick-slide{
    position: relative;
}
div.niketext{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 10%;
}
div.watchtext{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 45%;
    top: 20%;
}
div.sonytext{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 10%;
}

div.scrolling_imgs{
    display: flex;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
    gap: 15px;
    margin-top: 60px;
}
div.img_container{
    width: 175px;
}
div.img_container > img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div.img_caption {
    background-color: #F2F2F2;
    font-size: 12pt;
    color: #7B7B75;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Montserrat-medium';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.img_txt_container > span{
    position: absolute;
    display: inline-block;
    width: 30px;
    right: 60px;
    top: 55px;
    cursor: pointer;

}

div.img_txt_container{
    position: relative;
    background-color: #FEFEFE;
    padding: 25px;
    border-radius: 15px;
    border: #EDEDED solid 0.5px;
}

div.img_caption2{
    margin-top: 30px;
    line-height: 30px;
}

div.jbltext{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    bottom: 15%;
    left: 7%;
}

div.img_container2 > img{
    border-radius: 10px;
}

div.text_container{
    display: flex; 
    justify-content: space-between; 
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    width: 80%;
    padding: 2% 4%;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;

}

div.tailoredthread_text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: 20%;
}

div.star_container > span{
    width: 20px;
}

table{
    margin-top: 60px;
    border-spacing: 0.8vw;
    margin-bottom: 100px;
}
td{
    position: relative;
    overflow: hidden;
}
td > div.rayban{
    position: absolute;
    padding: 1%; 
    background-color: #FFFFFF20;
    bottom: -70px   ; 
    width: 80%;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 1vw;
    color: white;
    left:8%;
    transition: bottom 0.7s ease;
    cursor: pointer;
}
td:hover .rayban{
    bottom: 10%;
}
td > div.cannon{
    display: flex;
    position: absolute;
    align-items: center;
    padding: 1% 2%;
    border-radius:1vw;
    background-color: #FFFFFF88;
    right: 8%;
    bottom: -45px;
    transition: bottom 0.7s ease;
    cursor: pointer;
    font-size: 1vw;
}
td:hover .cannon{
    bottom: 10%;   
}

div.fashion1{
    position: absolute;
    font-family: 'Montserrat-medium';
    color: #2D2D2C;
    bottom: 8%;
    left: 13%;
    background-color: #FFFFFFDD;
    border-radius:1vw;
    padding: 3% 4%;
    width: 70%;
    text-align: center;
    transition: bottom 0.7s ease;
    font-size: 1vw;
}
td:hover .fashion1{
    bottom: 12%;
}
div.fashion2{
    display: flex;
    position: absolute;
    align-items: center;
    padding: 1% 2%;
    border-radius: 1vw;
    background-color: #FFFFFF88;
    left: 38%;
    bottom: -50px;
    transition: bottom 0.7s;
    cursor: pointer;
    font-family: 'Montserrat-medium';
    font-size: 1vw;
}
td:hover .fashion2{
    bottom: 4%;
}

div.americantourister1{
    position: absolute;
    left: 10%;
    top: 30%;
    transition: top 0.7s ease;
}
td:hover .americantourister1{
    top: 15%;
}
div.americantourister2{
    display: flex;
    position: absolute;
    align-items: center;
    padding: 1% 2%;
    border-radius:1vw;
    background-color: #FFFFFF88;
    left: 10%;
    bottom: -50px;
    transition: bottom 0.7s;
    cursor: pointer;
    font-size: 1vw;
}
td:hover .americantourister2{
    bottom: 10%;
}

div.titles{
    color: #41413F;
    font-size: 14pt;
    font-family: 'Montserrat-medium';
    margin-top: 30px;
    margin-bottom: 15px;
}
div.contents{
    color: #7B7B75;
    font-size: 11pt;
    line-height: 25px;
}

div.footer{
    padding: 20px 10%;
    background-color: #F7F7ED;
    color: #2D2D2C;
    display: flex;
    justify-content: space-between;

}

span.footer_titles{
    font-family: 'Montserrat-medium';
    font-size: 12pt
}
div.medialinks{
    display: flex;
    margin-top: 15px;
    width: fit-content;
    gap:10px;
}
div.medialinks > a{
    width: 20px;
}
div.footer_right_columns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
}


div.dropdown{
    position: fixed;
    right: 10%;
    
    background-color: #FCFCFC;
    border-radius: 15px;
    padding: 20px;
    display: none;
    
}
a{
    text-decoration: none;
}
a.dropdown_content{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px #EDEDED;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    color: #7B7B75;
    font-size: 11pt;
}
a.dropdown_content:hover{
    background-color: #e3e3dc;
}
span.dropdown_icons{
    width: 20px;
    margin-right: 10px;
}

#dropdownwrapper{
    position: fixed;
    left: 0;
    z-index: 100; 
    background-color: #0000001A; 
    width: 100%; 
    height: 100%;
    display: none;
}
.dropdown2{
    display: none;
    flex-direction: column;
    position: fixed;
    right: 10%;
    background-color: #FCFCFC;
    border-radius: 15px;
    padding: 20px;
}
.dropdown2 > a{
    display: flex;
    border-bottom: solid 0.5px #EDEDED;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    color: #7B7B75;
    font-size: 11pt;
    
}

@media (max-width:1024px){
    .footer{flex-direction: column;}
    .footer_right{flex-direction: column; margin-top: 10%; gap:45px}
    .links{display: none;}
    .logo_searchbar{width: 100%;}
    .header{padding:20px 10%;}
    div.img_container2{width: 180px;}
    .dropdown{width: fit-content;top: 15vw;}
    .dropdown2{top:15vw}
}
@media (min-width:1024px){
    .footer_right{width: 50%; gap: 3vw;}
    .footer_left{width: 45%;}
    #contactus{width: 50%;}
    .links{display: flex;}
    .menu{display: none;}
    .logo_searchbar{width: 50%;}
    .header{padding: 20px 10%;}
    div.img_container2{width: 300px;}
    .dropdown{width: 15%;top: 60px;}
}


@media (max-width:768px){
    .twoimgs{flex-direction: column;}
    .text_container{font-size: 2vw;}
}
@media (min-width:768px) {
    .text_container{font-size: 1.2vw;}
    
}


@media (max-width:475px){
    .dropdown{top: 15vw;}
}
@media (min-width:475px) and (max-width:1024px){
    .dropdown{top: 70px}
    .dropdown2{top:70px}
}